# pixi environments
.pixi/*
!.pixi/config.toml

# ROS2 outputs
install/
log/
build/

# python outputs
__pycache__/

# editor files
.idea/
.vscode/*
.zed/

# vscode config
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json
